[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
boto3 = "*"
urllib3 = "*"
setuptools = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.12"